body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: #29180A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: relative;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto;
}

nav {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 3px;
}

nav li {
    margin-left: 9%;
    list-style-type: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav a.active::after {
    content: '';
    display: block;
    width: calc(100% + 12px);
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -4px;
    left: -6px;
}
footer {
    background-color: #29180A;
    display: flex;
    justify-content: center;
    align-items: center;
   
    color: #fff;
    width: 100%;
}
main {
    margin-bottom: 70px; /* Dostosuj wartość, jeśli chcesz większy lub mniejszy odstęp */
}


.logo.left {
    animation: slideFromLeft 1.5s ease forwards;
}

.logo.right {
    animation: slideFromRight 1.5s ease forwards;
}

.logo3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 768px) {
    header {
        height: 200px; /* Zwiększamy wysokość nagłówka dla mniejszych ekranów */
    }
    nav {
        width: 100%; /* Zmieniamy szerokość na 100% */
        text-align: center; /* Wyśrodkowanie elementów w pionie */
        position: static; /* Zmieniamy pozycję na statyczną, aby wyświetlała się pod nagłówkiem */
        transform: none; /* Resetujemy transformację */
    }

    nav ul {
        flex-direction: column; /* Zmieniamy kierunek na kolumnowy */
        padding: 0; /* Resetujemy padding */
    }

    nav li {
        margin-left: 0; /* Usuwamy marginesy na boki */
        margin-bottom: 10px; /* Dodajemy odstęp między elementami listy */
    }
}



