main {
    margin: 50px;
    display: flex;
}

.container-info {
    width: 500px;
    text-align: center
}

.godziny-otwarcia {
    border-bottom: 3px red solid;
}

.rezerwacja {
    border-bottom: 3px red solid;
}

.mail {
    border-bottom: 3px red solid;
}

.container-map {
    margin-left: auto;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        margin: 20px;
    }

    .container-info {
        width: 100%;
    }

    .container-map {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}