body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #29180A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: relative;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto;
}

nav {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 3px;
}

nav li {
    margin-left: 9%;
    list-style-type: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav a.active::after {
    content: '';
    display: block;
    width: calc(100% + 12px);
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -4px;
    left: -6px;
}

footer {
    background-color: #29180a;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Wyjustowanie elementów do góry */
}

.footer-right,
.footer-left {
    text-align: left;
    width: 400px;
    margin-top: 0; /* Usunięcie marginesu górnego */
}
  
.adress-tittle {
    margin-bottom: 5px;
    color: aqua;
    font-size: 36px;
}
  
.footer-left span,
.footer-right span {
display: block;
}

h5 {
color: grey;
}

.informacje {
font-family: 'Indie Flower', static;
font-size: 24px;
}
  
.logo.left {
    animation: slideFromLeft 1.5s ease forwards;
}

.logo.right {
    animation: slideFromRight 1.5s ease forwards;
}

.logo3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.social-media {
    position: fixed; /* Ustawienie pozycji social-media na stałe */
    top: 50%; /* Umieszczenie na środku wertykalnie */
    transform: translateY(-50%); /* Wycentrowanie wertykalnie */
    left: 20px; /* Odległość od lewej krawędzi */
    z-index: 999; /* Wysoki index warstwy, aby być zawsze na wierzchu */
    display: flex; /* Ustawienie na flexbox, aby można było stosować spację między elementami */
    flex-direction: column; /* Układanie ikon w kolumnie */
    align-items: center; /* Wycentrowanie poziome ikon */
}

.social-media a {
    margin-bottom: 10px; /* Odstęp między ikonami */
}

/* Dodatkowy styl dla ikon */
.social-media img {
    width: 50px; /* Ustawienie szerokości */
    height: auto; /* Zachowanie proporcji */
}



/* Responsywność dla mniejszych ekranów */
@media (max-width: 768px) {
    header {
        height: 200px; /* Zwiększamy wysokość nagłówka dla mniejszych ekranów */
    }
    nav {
        width: 100%; /* Zmieniamy szerokość na 100% */
        text-align: center; /* Wyśrodkowanie elementów w pionie */
        position: static; /* Zmieniamy pozycję na statyczną, aby wyświetlała się pod nagłówkiem */
        transform: none; /* Resetujemy transformację */
    }

    nav ul {
        flex-direction: column; /* Zmieniamy kierunek na kolumnowy */
        padding: 0; /* Resetujemy padding */
    }

    nav li {
        margin-left: 0; /* Usuwamy marginesy na boki */
        margin-bottom: 10px; /* Dodajemy odstęp między elementami listy */
    }

    footer {
        flex-direction: column; /* Zmiana układu na kolumnowy dla mniejszych ekranów */
        text-align: center; /* Wyśrodkowanie tekstu */
    }

    .footer-left, .footer-right {
        width: 100%; /* Zmiana szerokości na 100% dla elementów w kolumnie */
        margin-bottom: 20px; /* Dodanie odstępu między elementami w kolumnie */
    }
}



