body {
    background-color: chocolate;
    margin: 0; 
}

header, footer {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: chocolate;
    width: 100%;
    margin: 0; 
}


.left-section {
    width: 20%;
    text-align: center;
    margin-left: 5%;
    padding-right: 5%;
}

.center-section {
    width: 60%;
    text-align: center;
}


.right-section {
    width: 20%;
    text-align: center;
    padding-left: 5%;
}


.center-image {
    width: 100%; 
    height: auto; 
}

main .right-section {
    width: 20%;
    text-align: center;
    padding-right: 4%;
    height: 100%;
}

.right-section h1 {
    margin-bottom: 20px;
}

.button1 {
    height: 50px;
    width: 80%;
    margin-bottom: 5%;
    background-color: darkred;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    transition: background-color 0.3s ease;
}

.button1:hover {
    background-color: darkorange;
    cursor: pointer;
}

.przesun-tekst-do-gory {
 
    padding-right: 12%;
    font-size: 24px;
}

.right-content {
    flex-grow: 1;
}

.promocja {
    color: greenyellow;
    margin-bottom: 5%;
    margin-top: 0;
}

.przesun {
    margin-bottom: 55%;
}

.b1 {
    width: 100%;
    height: 10%;
}

ol {
    padding: 2%;
    margin: 3px;
}

li {
    padding: 4px;
}

.logo.left {
    animation: slideFromLeft 1.5s ease forwards;
}

.logo.right {
    animation: slideFromRight 1.5s ease forwards;
}

.logo3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}



.motywacja {
    background-color: #e96e1b;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
  
.motywacja div {
    text-align: center;
    width: 20%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.motywacja div:hover {
    transform: scale(1.1);
    cursor: pointer;
}
  
.motywacja h1 {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Merriweather', serif;
}
  
.motywacja p {
    font-size: 16px;
    font-family: '', serif;
}
  
  
/*  koło fortuny */
.spin-animation {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main .left-section, main .center-section, main .right-section {
        width: 100%;
    }

    main .left-section, main .center-section, main .right-section {
        margin: 0;
    }

    .center-image {
        max-width: 80%;
    }

    .right-section h1 {
        font-size: 24px;
    }

    .button1 {
        font-size: 24px;
        width: 90%;
    }

    .przesun-tekst-do-gory {
        padding-right: 5%;
    }
}
