/* Globalne style */
body {
    background-color: chocolate;
    margin: 0; /* Usunięcie marginesu */
}

/* Usunięcie marginesów dla headera i footera */
header, footer {
    margin: 0;
}

/* Adjustments to main section */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 780px;
    background-color: chocolate;
    width: 100%;
    margin: 0; /* Usunięcie marginesu */
}

/* Lewa sekcja */
.left-section {
    width: 20%;
    text-align: center;
    margin-left: 5%;
    padding-right: 5%;
}

/* Środkowa sekcja */
.center-section {
    width: 60%;
    text-align: center;
}

/* Prawa sekcja */
.right-section {
    width: 20%;
    text-align: center;
    padding-left: 5%;
}

/* Image styles */
.center-image {
    width: 100%; /* Ustawienie szerokości na 100% */
    height: auto; /* Zachowanie proporcji */
}

/* Right section styles */
main .right-section {
    width: 20%;
    text-align: center;
    padding-right: 4%;
    height: 100%;
}

/* Zasady Loteria na kod promocyjny */
.right-section h1 {
    margin-bottom: 20px;
}

/* Button styles */
.button1 {
    height: 50px;
    width: 80%;
    margin-bottom: 5%;
    background-color: darkred;
    border-radius: 20px;
    color: white;
    font-size: 32px;
}

/* Przesunięcie tekstu w górę */
.przesun-tekst-do-gory {
    align-self: flex-start;
    padding-right: 12%;
    font-size: 24px;
}

/* Dodanie możliwości pisania po całej sekcji */
.right-content {
    flex-grow: 1;
}

/* Dodatkowe style */
.promocja {
    color: greenyellow;
    margin-bottom: 5%;
    margin-top: 0;
}

.przesun {
    margin-bottom: 55%;
}

.b1 {
    width: 100%;
    height: 10%;
}

ol {
    padding: 2%;
    margin: 3px;
}

li {
    padding: 4px;
}

.logo.left {
    animation: slideFromLeft 1.5s ease forwards;
}

.logo.right {
    animation: slideFromRight 1.5s ease forwards;
}

.logo3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    /* Zmiana układu na kolumnowy dla małych ekranów */
    main {
        flex-direction: column;
    }

    /* Dostosowanie szerokości sekcji */
    main .left-section, main .center-section, main .right-section {
        width: 100%;
    }

    /* Usunięcie marginesów */
    main .left-section, main .center-section, main .right-section {
        margin: 0;
    }

    /* Dostosowanie wysokości obrazka */
    .center-image {
        max-width: 80%;
    }

    /* Dodatkowe dostosowania (opcjonalnie) */
    .right-section h1 {
        font-size: 24px;
    }

    .button1 {
        font-size: 24px;
        width: 90%;
    }

    .przesun-tekst-do-gory {
        padding-right: 5%;
    }
}
