.zrodlo {
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.zrodlo p:nth-child(3) {
    font-weight: bold; 
}