/* Adjustments to main section */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    background-color:chocolate;
}

/* Left section styles */
main .left {
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
   
}

/* Center section styles */
main .center {
    height: 100%;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Image styles */
.center-image {
    max-width: 100%;
    max-height: 100%;
}

/* Right section styles */
/* Right section styles */
main .right {
    width: 15%;
    text-align: center; /* Wyśrodkowanie tekstu */
    padding-right: 4%;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Zasady Loteria na kod promocyjny */
.right h1 {
    margin-bottom: 20px; /* Dodatkowy margines na dole dla estetyki */
}
/* Button styles */
.button1 {
    height: 50px;
    width: 80%;
    margin-bottom: 5%; /* zmiana marginesu, aby przesunąć przycisk do góry */
    background-color: darkred;
    border-radius: 20px;
    color: white;
    font-size: 32px;
}

/* Przesunięcie tekstu w górę */
.przesun-tekst-do-gory {
    align-self: flex-start; /* przesunięcie do góry */
    padding-right: 12%;
    font-size: 24px;
}

/* Dodanie możliwości pisania po całej sekcji */
.right-content {
    flex-grow: 1; /* wykorzystanie dostępnej przestrzeni wewnątrz sekcji */
}

.promocja {
    color: greenyellow;
    margin-bottom: 5%; /* Dodaje margines na dole tekstu */
    margin-top: 0; /* Usuwa margines górny */
}
.przesun{
    margin-bottom: 55%;
}
.b1{
    width: 100%;
    height:  10%;
}
ol{
    padding: 2%;
    margin: 3px;
}
li{
    padding: 4px;
}
.logo.left {
    animation: slideFromLeft 1.5s ease forwards;
}

.logo.right {
    animation: slideFromRight 1.5s ease forwards;
}

.logo3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Dla urządzeń o szerokości ekranu mniejszej niż 768px */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Zmień układ na kolumnowy */
        height: auto; /* Ustaw wysokość na auto */
    }

    main .left, main .center, main .right {
        width: 100%; /* Ustaw szerokość sekcji na 100% */
        margin: 0; /* Usuń marginesy */
    }
}
